<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Name" [(ngModel)]="customer.name" maxlength="45" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" [(ngModel)]="customer.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" maxlength="45" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Phone (00) 000000000" [(ngModel)]="customer.phone" pattern="^\(\d{2}\) \d{9}$" maxlength="14" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="State" [(ngModel)]="customer.state" maxlength="45" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="City" [(ngModel)]="customer.city" maxlength="45" required>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field>
      <input type="date" matInput placeholder="Birthdate" [(ngModel)]="customer.birthdate" required>
    </mat-form-field>
  </mat-card-content>

  <mat-label>Subscriptions</mat-label>
  <mat-card-content *ngFor="let subscription of subscriptions">
      <mat-checkbox [(ngModel)]="subscription.checked" [name]="subscription.id">{{subscription.name}}</mat-checkbox>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="save()" color="primary" class="custom-button">Save</button>
    <button mat-raised-button routerLink="/customers" color="warn" class="custom-button">Cancel</button>
  </mat-card-actions>
</mat-card>